<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betaservis</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div>
<h2>BETASERVIS</h2>
{% for betaservis in beta %}
<table border = 1 style = "cellpadding: 5; cellspacing:5 ">

<tr align = center>

    <td width = "140"><a href="{% url 'main' %}">{{ betaservis.main }}</a></td>
    <td width = "140"><a href="{% url 'services' %}">{{ betaservis.services }}</a></td>
    <td width = "140"><a href="{% url 'works' %}">{{ betaservis.works }}</a></td>
    <td width = "140"><a href="{% url 'forms' %}">{{ betaservis.forms }}</a></td>
    <td width = "140"><a href="{% url 'contacts' %}">{{ betaservis.contacts }}</a></td>
    <td width = "140"><a href="{% url 'site' %}">{{ betaservis.site }}</a></td>
    <td width = "140"><a href="{% url 'our_friends' %}">{{ betaservis.our_friends }}</a></td>

</tr>


    </table>
{% endfor %}
</div>

<div>


{%block content%}

    {% endblock %}

    <table>
<tr>

        <td></td><a href="/{{beta.id}}">В начало</a></td>
</tr>
    </table>
</div>

</body>
</html>
