<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betaservis</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{%block content%}
<div>
<h2>BETASERVIS</h2>
{% for betaservis in beta %}
<table border = 1 style = "cellpadding: 5; cellspacing:5 ">

<tr align = center>

    <td width = "100"><a href="main/{{main.id}}">{{ betaservis.main }}</a></td>
    <td width = "100"><a href="services/{{services.id}}">{{ betaservis.services }}</a></td>
    <td width = "100"><a href="works/{{works.id}}">{{ betaservis.works }}</a></td>
    <td width = "100"><a href="forms/{{forms.id}}">{{ betaservis.forms }}</a></td>

</tr>

    </table>
{% endfor %}
</div>
{% endblock %}
<div>



</div>

</body>
</html>
