<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betaservis</title>
</head>
<body>



<h2>Меню</h2>
<table>

{% for betaservis in beta %}
<tr>

    </tr><tr>
    <td><a href="main/{{main.id}}">{{ betaservis.main }}</a></td>
    <td><a href="services/{{services.id}}">{{ betaservis.services }}</a></td>
    <td><a href="works/{{works.id}}">{{ betaservis.works }}</a></td>
    <td><a href="forms/{{forms.id}}">{{ betaservis.forms }}</a></td>

</tr>
{% endfor %}
</table>


</body>
</html>